<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
  <section class="section_height">
    <!--ページ名前-->
    <div class="container page_title">
      <div class="col-md-12">
        <h1>パスワード編集</h1>
      </div>
    </div>

    <!--メインコンテンツ-->
    <div class="container passwordChkForm">
      <div class="col-md-12">

        <!--パスワード編集欄-->
        <form name="infoChange" method="post" action="/members/passwordChange" onsubmit="return check();">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <table class="form_table">
            <!--新しいパスワード確認-->
            <tr>
              <th>新しいパスワード</th>
              <td><input id="password" name="password" type="password" required></td>
            </tr>
            <tr>
              <th>パスワード確認</th>
              <td><input id="passwordChk" type="password" required></td>
            </tr>

            <tr>
              <td colspan="2" class="text-center">
                <button type="submit" id="passwordChange">パスワード編集</button>
                <button type="button" name="cancel" onclick="history.back()">キャンセル</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </section>

</div>

<div layout:fragment="script">
  <script th:inline="javascript">

    function check() {

        let password = $("#password").val();
        let passwordChk = $("#passwordChk").val();

        //パスワード有効性
        let regex = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*\W)(?=\S+$).{8,20}$/;

        //有効性検査
        if (!regex.test(password)) {
            alert("パスワードは英語の大文字と小文字、特殊文字の組み合わせで８文～20文の形で入力してください。");
            return false;
        }

        //パスワード一致確認
        if(!(password === passwordChk)) {
          alert("パスワードを一致させてください。");
          return false;
        }
        return true;
      }
  </script>
</div>
</html>