<!-- passwordChk.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- 여기서는 layout:fragment 안에 본문만 넣어야 함 -->
<div layout:fragment="content">
  <section class="section_height">
    <div class="container page_title">
      <div class="col-md-12">
        <h1>パスワード編集</h1>
      </div>
    </div>

    <div class="container passwordChkForm">
      <div class="col-md-12">
        <table class="form_table">
          <tr>
            <th>現在のパスワード</th>
            <td><input id="password" type="password" class="form-control"></td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <button type="button" id="passwordChk" class="btn btn-primary">パスワード確認</button>
              <button type="button" class="btn btn-secondary" onclick="history.back()">キャンセル</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>

<div layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function () {
      $("#passwordChk").on("click", function () {
        const password = $('#password').val();
        const csrfHeader = $('meta[name="_csrf_header"]').attr('content');
        const csrfToken = $('meta[name="_csrf"]').attr('content');

        $.ajax({
          type: 'POST',
          url: '/members/passwordChk',
          beforeSend: function (xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
          },
          data: { password: password },
          success: function (data) {
            if (data === true) {
              window.location.href = '/members/passwordChange';
            } else {
              alert('正しいパスワードを入力してください。');
            }
          },
          error: function () {
            alert('エラーが発生しました。');
          }
        });
      });
    });
  </script>
</div>
</html>
