<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <section>
        <div class="container page_title">
            <div class="col-md-12">
                <h1>全体</h1>
            </div>
        </div>

        <div class="container board_list">
            <table class="post_list">
                <tr>
                    <th>番号</th>
                    <th>タイトル</th>
                    <th>作成者</th>
                    <th>作成日</th>
                    <th>閲覧数</th>
                    <th>いいね</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>たいとる</td>
                    <td>さくせいしゃ</td>
                    <td>25-04-10</td>
                    <td>０</td>
                    <td>０</td>
                </tr>
            </table>
        </div>
    </section>

</div>
</html>