<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org">
  <div th:fragment="header">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <button>ログイン</button>
        </div>
        <div class="col-md-1">
          <button>新規登録</button>
        </div>
        <div class="col-md-8">
          <input type="text">
          <button>検索</button>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <button>全体</button>
        </div>
        <div class="col-md-3">
          <button>人気</button>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</html>