<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org">

  <!--ヘッダー-->
  <div th:fragment="header">
    <div class="container">
      <nav class="board_nav">
        <div class="row">

          <!--ログイン/ログアウト-->
          <div class="col-md-2">

            <!--ログインしなかった場合-->
            <a href="/members/login" sec:authorize="isAnonymous()" >ログイン</a>
            <a href="/members/signUp" sec:authorize="isAnonymous()">新規登録</a>

            <!--ログインした場合-->
            <a href="/members/logout" sec:authorize="isAuthenticated()">ログアウト</a>
            <a href="/members/myPage" sec:authorize="isAuthenticated()">情報編集</a>
          </div>

          <!--検索欄-->
          <div class="col-md-8">
            <form name="search" method="get" action="/boards/list/basic" class="search_bar">

              <!--タイプ選択欄-->
              <select name="type">
                <option value="title" th:selected="${type == 'title'}">タイトル</option>
                <option value="content" th:selected="${type == 'content'}">内容</option>
              </select>

              <!--キーワード入力欄-->
              <input type="text" name="keyword" th:value="${keyword}">
              <button type="submit">検索</button>
            </form>
          </div>

          <div class="col-md-2">
          </div>

        </div>
      </nav>
    </div>

    <div class="container board_list">
      <div class="row">

        <!--投稿リスト照会-->
        <div class="col-md-3">
          <a th:href="@{/boards/list/basic}">全体</a>
        </div>

        <div class="col-md-3">
        </div>

        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</html>