<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org">
  <div th:fragment="header">
    <div class="container">
      <div class="row">
        <nav>
          <div class="col-md-2">
            <ul>
              <li sec:authorize="isAnonymous()"><a href="/members/login">ログイン</a></li>
              <li sec:authorize="isAnonymous()"><a href="/members/signUp">新規登録</a></li>
              <li sec:authorize="isAuthenticated()"><a href="/members/logout">ログアウト</a></li>
              <li sec:authorize="isAuthenticated()"><a href="/members/myPage">情報編集</a></li>
            </ul>
          </div>

          <div class="col-md-8">
            <input type="text">
            <a>検索</a>
          </div>

          <div class="col-md-2">
          </div>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="/boards/list/basic">全体</a>
        </div>

        <div class="col-md-3">
          <a>人気</a>
        </div>

        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</html>